<div id="<%= dom_id work_party %>" class="bg-light rounded p-2">
  <p>
    <strong>Name:</strong>
    <%= work_party.name %>
  </p>
  <p>
    <strong>Work Type:</strong>
    <%= work_party.work_type.name %>
  </p>

</div>
