<p class="text-success"><%= notice %></p>

<div class="text-end">
  <%= link_to "Add work party", new_work_party_path, class: 'btn btn-success' %>
</div>
<h3>Work parties</h3>

<%= render 'work_parties/work_parties_list', work_parties: @work_parties %>