<%= link_to "↶ Back to list", @client, class: 'btn btn-secondary mb-4' %>
<%= link_to "Client list", clients_path, class: 'btn btn-primary mb-4' %>

<h3>Editing client</h3>

<%= render "form", client: @client %>
