<p class="text-success"><%= notice %></p>

<h3>Clients</h3>
<div class="text-end">
  <%= link_to "New client", new_client_path, class: 'btn btn-success my-2' %>
</div>

<div id="clients" class="mt-4">
  <% @clients.each do |client| %>
    <%= link_to client, class: 'btn btn-light col-12 text-start my-1' do %>
      <%= client.name %>
    <% end %>
  <% end %>
</div>
