<p class="text-success"><%= notice %></p>

<h3>Clients</h3>
<div class="text-end">
  <%= link_to "New client", new_client_path, class: 'btn btn-success my-2' %>
</div>

<div id="clients" class="row mt-4">
  <% @clients.each do |client| %>
    <div class="col-sm-12 col-md-6 p-2">
      <%= link_to client, class: 'btn btn-light col-12 text-start' do %>
        <%= client.name %>
      <% end %>
    </div>
  <% end %>
</div>
