<div>
  <%= link_to "↶ Back to list", clients_path, class: 'btn btn-secondary mb-4' %>
</div>
<h3>Add New Client</h3>

<div class="col-md-8 col-sm-12">
  <%= render "form", client: @client %>
</div>
<br>
