<p class="text-success"><%= notice %></p>

<h3>Projects</h3>
<div class="text-end">
  <%= link_to "New project", new_project_path, class: 'btn btn-success my-2' %>
</div>

<%= render 'project_list' %>
