<div>
  <%= link_to "↶ Back to list", projects_path, class: 'btn btn-secondary mb-4' %>
</div>
<h3>Add New Project</h3>

<div class="col-md-8 col-sm-12">
  <%= render "form", project: @project %>
</div>
<br>
