<div class="col-md-8">
  <div>
    <%= link_to "↶ Back to list", work_types_path, class: 'btn btn-secondary mb-4' %>
  </div>

  <h3>Editing work type</h3>

  <%= render "form", work_type: @work_type %>
</div>
