<div>
  <%= link_to "Back to work types", work_types_path, class: 'btn btn-secondary mb-4' %>
</div>
<h3>New work type</h3>

<div class="col-md-8 col-sm-12">
  <%= render "form", work_type: @work_type %>
</div>
<br>
